<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/style.css" />
</head>
<body>
<% include("head.html",{currentUser:currentUser!}){} %>
<div id="Wrapper">
  <div class="content">
    <div id="Leftbar"></div>
    <% include("right.html",{currentUser:currentUser!}){} %>
    <% include("main.html"){} %>
  </div>
  <div class="c"></div>
  <div class="sep20"></div>
</div>
<% include("foot.html"){} %>
</body>
</html>