<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/style.css" />
    <script type="text/javascript" src="${ctxPath}/static/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="${ctxPath}/static/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
	//字母和数字的验证  
	jQuery.validator.addMethod("v2exAccount", function(value, element) {  
	    var chrnum = /^([a-zA-Z0-9]+)$/;  
	    return this.optional(element) || (chrnum.test(value));  
	}, "只能输入数字和字母(字符A-Z, a-z, 0-9)或者正确的Email地址");
	
	$(function() {
		$("#signupForm").validate({
			 rules: {
                 name: { required: true, rangelength:[6,12],v2exAccount : true,
                	  remote: {
                         url: '${ctxPath}/validateName',
                         type: 'POST',
                         dateType: 'json',
                         data: {name:function(){
                        	 return $("input[name='name']").val();
                         }}
                        }  
                 },
                 emial:{required: true,email:true,
                	 remote: {
	                     url: '${ctxPath}/validateEmail',
	                     type: 'POST',
	                     dateType: 'json',
	                     data: {email:function(){
	                    	 return $("input[name='email']").val();
	                     }}
                    }  },
                 password: {required: true,minlength:6},
                 valCode : {required: true}
             },
             messages:{
            	 name:{
            		 required:"用户名只能使用大小写英文字母和数字 ,且长度在6-12位之间",
            		 v2exAccount:"用户名只能使用大小写英文字母和数字 ,且长度在6-12位之间",
            		 rangelength:"用户名只能使用大小写英文字母和数字 ,且长度在6-12位之间",
            		 remote:"该用户已经被注册,请使用其他用户名"
            	 },
            	 email:{
            		 required:"请输入合法的邮箱地址",
            		 email:"请输入合法的邮箱地址",
            		 remote:"该邮箱地址已经被注册,请使用其他邮箱"
            	 },
            	 password:{
            		 required:"请输入长度不小于6位的密码",
            		 minlength:"请输入长度不小于6位的密码"
            	 },
            	 valCode:{
            		 required:"请输入验证码"
            	 }
             },
             onKeyUp:false,
             onfocusout:false,
            /*  errorPlacement: function(error, element) {
            	 if(error && error[0].innerText) {
            		 error.appendTo($("<li></li>").appendTo($(".problem ul")));
            	 } 
             }, */
             showErrors:function(errorMap,errorList) {
            	 $(".problem ul").empty();
            	 if(errorList && errorList.length > 0) {
            		$(".problem").show();
            		$(".problem span").html("请解决以下问题再提交:");
            		$.each(errorList,function(i,error) {
            			$("<li></li>").html(error.message).appendTo($(".problem ul"));   			
            		})
            	 } else {
            		 $(".problem  ul").empty();
            	 }
            	 //this.defaultShowErrors();
             }
		});
	
	
	})
	</script>
</head>
<body>
<% include("head.html"){} %>
<div id="Wrapper">
  <div class="content">
    <div id="Leftbar"></div>
      <div id="Rightbar">
      <div class="sep20"></div>
      	<% include("user_operation.html"){} %>
      </div>
    <div id="Main">
    <div class="sep20"></div>
                
<div class="box">
    <div class="header"><a href="/">V2EX</a> <span class="chevron">&nbsp;›&nbsp;</span> 注册</div>
    <div class="problem" style="display:none"><span></span><ul></ul></div>
    <div class="inner">
        <form method="post" id="signupForm" action="${ctxPath}/signup">
        <table cellpadding="5" cellspacing="0" border="0" width="100%">
            <tr>
                <td width="120" align="right" valign="top"><div class="sep5"></div>用户名</td>
                <td width="auto" align="left"><input type="text" class="sl" name="name" value="" autocorrect="off" spellcheck="false" autocapitalize="off" /><div class="sep5"></div><span class="fade">请使用半角的 a-z 或数字 0-9</span></td>
            </tr>
            <tr>
                <td width="120" align="right">密码</td>
                <td width="auto" align="left"><input type="password" class="sl" name="password" value="" autocorrect="off" spellcheck="false" autocapitalize="off" /></td>
            </tr>
            <tr>
                <td width="120" align="right" valign="top"><div class="sep5"></div>电子邮件</td>
                <td width="auto" align="left"><input type="email" class="sl" name="email" value="" autocorrect="off" spellcheck="false" autocapitalize="off" /><div class="sep5"></div><span class="fade">请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人</span></td>
            </tr>
            <tr>
                <td width="120" align="right">你是机器人么？</td>
                <td width="auto" align="left"><div style="background-image: url('${ctxPath}/captcha/code?once=27138'); background-repeat: no-repeat; width: 320px; height: 80px; border-radius: 3px; border: 1px solid #ccc;"></div><div class="sep10"></div><input type="text" class="sl" name="valCode" value="" autocorrect="off" spellcheck="false" autocapitalize="off" placeholder="请输入上图中的验证码" /></td>
            </tr>
            <tr>
                <td width="120" align="right"></td>
                <td width="auto" align="left"><input type="hidden" name="once" value="27138" /><input type="submit" class="super normal button" value="注册" /></td>
            </tr>
        </table>
        </form>
    </div>
</div>

</div>
            
  </div>
  <div class="c"></div>
  <div class="sep20"></div>
</div>
<% include("foot.html"){} %>
 </body>
 </html>